<!DOCTYPE html>

<!--
***************************************************************
AUTHOR : NCodeArt
PROJECT : Show Coming Soon Template

NOTE : This file licensed to NCodeArt - http://themeforest.net/user/ncodeart and it is strictly prohibited to copy or reuse it.

Copyright 2015-2016 NCodeArt

Purchase :http://goo.gl/oE76IB
***************************************************************
-->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Show Coming Soon Template">
  <meta name="keywords" content="nc, ncodeart, ncode, single background, slideshow background, video background, youtube background, animation, coming soon, under construction, template, html, html5, css, css3, themeforest, template download, effect, background effect, particle effect, specialty page, multiuse template, ajax form, mailchimp, getresponse, campaign monitor, email services integration, ajax form, popup">
  <meta name="author" content="NCodeArt">

  <title>NCodeArt | Show Coming Soon Template</title>

  <!-- FONT-ICONS -->
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="lib/et-line-font/style.css">
  <link rel="stylesheet" href="lib/Icon-font-7-stroke-PIXEDEN/css/pe-icon-7-stroke.css">

  <!-- LIB -->
  <link rel="stylesheet" href="lib/animation/animate.css">
  <link rel="stylesheet" href="lib/sweetalert/sweetalert.css">
  <link rel="stylesheet" href="lib/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="lib/vegas/vegas.min.css">
  <link rel="stylesheet" href="lib/jquery.mb.YTPlayer/css/jquery.mb.YTPlayer.min.css">

  <!-- TEMPLATE -->
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/nc-grids.css">
  <link rel="stylesheet" href="css/nc-structure.css">
  <link rel="stylesheet" href="css/nc-main.css">
  <link rel="stylesheet" href="css/helper.css">
  <link rel="stylesheet" href="css/nc-responsive.css">

  <!-- CUSTOM -->
  <link rel="stylesheet" href="css/custom.css">

  <!-- FAVICON -->
  <link rel="icon" href="images/favicons/favicon.ico">
  <link rel="apple-touch-icon" href="images/favicons/apple-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">

</head>
<body class="loader-dark1">

  <!-- NC-MAIN-WRAPER -->
  <div id="nc-main-wrapper" class="nc-main-wrapper">

    <!-- BACKGROUND -->
    <div class="nc-background full-wh z-1 bg-cover bg-cc" data-bg="images/bg-6.jpg">

    </div><!-- / BACKGROUND -->

    <!-- CONTENT AREA -->
    <div class="nc-content-wrapper nc-scrollbar top-30 bottom-30 left-30 px-w800 bg-dark1 shadow-2">

      <!-- INTOR-SECTION -->
      <div class="nc-intro-section h100 nc-active flex-cc" data-nc-sm="block h-reset pd-tb-medium">

        <!-- LOGO -->
<!--         <div class="nc-intro-section-ele logo-wrapper absolute top-60 left w100 align-c" data-nc-sm="position-inherit mr-b-60">
          <a href="http://goo.gl/oE76IB" class="inline-block">
            <img src="images/logo-w.png" alt="ncodeart">
          </a>
        </div> --><!-- / LOGO -->

        <div class="nc-intro-section--inner-wrapper nc-intro-section-ele">

          <!-- MAIN-TEXT -->
          <div class="intro-section--main-text align-c pd-lr-60 typo-light" data-nc-sm="pd-lr-20">
            <h1 class="m-text fs80 f-2 bold-5 lh-2" data-nc-md="fs60" data-nc-sm="fs50">NCodeArt</h1>
            <hr class="light">
            <p class="f-3 fs18 op-07" data-nc-sm="fs16">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quam sapien, tincidunt et euismod sed, lacinia quis quam.
            </p>
          </div><!-- / MAIN-TEXT -->

          <!-- BUTTOM-GROUP -->
          <div class="nc-button-grp align-c mr-t-40">
            <a href="#" data-osection="true" data-pgtype="nc-singlepage" class="olink btn btn-color1 solid f-3 mr-lr-10">Notify Me</a>
            <a href="#" data-osection="true" data-pgtype="nc-onepage" class="olink btn btn-color1 solid f-3 mr-lr-10">More Info</a>
          </div><!-- / BUTTOM-GROUP -->

        </div>

        <!-- SOCIAL-LINKS -->
        <div class="nc-social absolute bottom-60 left w100 align-c nc-intro-section-ele" data-nc-sm="position-inherit mr-t-60">
          <div class="nc-social--inner-wrapper inline-block">
            <a href="https://www.instagram.com/ncodeart/" title="instagram" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://plus.google.com/u/0/116375781171317760169" title="google-plus" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/ncodeart/" title="facebook" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://dribbble.com/NCodeArt" title="dribbble" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
            <a href="http://ncodeart.tumblr.com/" title="tumblr" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-tumblr" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCExbGNMg9xe06RRCH6j2IPg" title="youtube" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/NCodeArt" title="twitter" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://in.linkedin.com/in/ncodeart-art-b350a8128" title="linkedin" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://in.pinterest.com/ncodeart/" title="pinterest" class="nc-social--links inline-flex flex-cc sq40 fs16 txt-white hov-txt-color1">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
          </div>
        </div><!-- / SOCIAL-LINKS -->

      </div><!-- / INTOR-SECTION -->

      <!-- OTHER-SECTION -->
      <div class="nc-other-section flex-cc nc-onepage bg-dark1">

        <!-- CLOSE -->
        <span class="nc-close sq30 flex-cc fs30 btn-white rd z9">
          <i class="pe-7s-close-circle"></i>
        </span><!-- / CLOSE -->

        <div class="inner-wrapper">

          <!-- ABOUT SECTION -->
          <div class="about-section pd-60 typo-light" data-nc-sm="pd-10" data-bgcolor="rgba(0,0,0,0.05)">

            <!-- HEADER -->
            <div class="nc-popup--header pd-b-60 bdr bdr-b bdr-op-1 align-c" data-nc-sm="pd-30">
              <div class="title-wrapper">
                <span class="flex-cc title--icon fs70 txt-color1 mr-b-10" data-nc-sm="fs60">
                  <i class="pe-7s-notebook"></i>
                </span>
                <h1 class="txt-upper f-2 bold-1">About</h1>
                <hr class="px-w100 light mr-auto mr-tb-10">
                <p class="title-sub mr-auto f-3 mini mr-b-0 op-07" data-nc-sm="mini">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam et nulla ut pharetra. Praesent at dolor.
                </p>
              </div>
            </div><!-- / HEADER -->

            <!-- BODY -->
            <div class="nc-popup--body align-c" data-nc-sm="pd-30">

              <!-- IMAGE -->
              <div class="image-wrapper mr-b-30">
                <img src="images/bg-2.jpg" alt="about">
              </div><!-- / IMAGE -->

              <h4 class="title txt-upper small f-3 bold-1" data-nc-sm="small">Lorem ipsum dolor sit amet</h4>
              <hr class="light">
              <p class="f-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus magna, fringilla sit amet justo eleifend, lobortis tincidunt arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus magna, fringilla sit amet justo eleifend, lobortis tincidunt arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus magna, fringilla sit amet justo eleifend, lobortis tincidunt arcu.
              </p>

            </div>
            <!-- / BODY -->

          </div><!-- / ABOUT SECTION -->

          <!-- CONTACT SECTION -->
          <div class="contact-section pd-60 pd-b-120 typo-light" data-nc-sm="pd-10">

            <!-- HEADER -->
            <div class="nc-popup--header pd-b-60 align-c" data-nc-sm="pd-30">
              <div class="title-wrapper">
                <span class="flex-cc title--icon fs70 txt-color1 mr-b-10" data-nc-sm="fs60">
                  <i class="pe-7s-mail-open-file"></i>
                </span>
                <h1 class="txt-upper f-2 bold-1">Contact</h1>
                <hr class="px-w100 mr-auto light mr-tb-10">
                <p class="title-sub mr-auto f-3 mini mr-b-0 op-07" data-nc-sm="mini">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam et nulla ut pharetra. Praesent at dolor.
                </p>
              </div>
            </div><!-- / HEADER -->

            <!-- BODY -->
            <div class="nc-popup--body align-c" data-nc-sm="pd-30">
              <div class="nc-form-wrapper">

                <form action="form-data/contact.php" class="form-widget form-widget-inputicon" data-popup="popup-contact">
                  <div class="field-wrp">
                    <input type="hidden" name="to" value="schwartzulysse@gmail.com">
                    <div class="flex-row gt20 mb5">
                      <div class="flex-col-md-6">
                        <div class="form-group">
                          <span class="form-widget--icon flex-cc txt-color1"><i class="ti-user"></i></span>
                          <input class="form-control light form-widget--form-control" data-label="Name" required data-msg="Please enter first-name." type="text" name="fname" placeholder="First-name">
                        </div>
                      </div>
                      <div class="flex-col-md-6">
                        <div class="form-group">
                          <span class="form-widget--icon flex-cc txt-color1"><i class="ti-user"></i></span>
                          <input class="form-control light form-widget--form-control" data-label="Name" required data-msg="Please enter last-name." type="text" name="lname" placeholder="Last-name">
                        </div>
                      </div>
                      <div class="flex-col-md-12">
                        <div class="form-group">
                          <span class="form-widget--icon flex-cc txt-color1"><i class="ti-email"></i></span>
                          <input class="form-control light form-widget--form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
                        </div>
                      </div>
                    </div>
                    <div class="flex-col-md-12">
                      <div class="form-group">
                        <span class="form-widget--icon flex-cc txt-color1"><i class="ti-text"></i></span>
                        <textarea class="form-control light form-widget--form-control" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="form-widget--btn w100 btn solid btn-white">Submit</button>
                </form>
                <div class="msg-block"></div>

              </div>
            </div>
            <!-- / BODY -->

          </div><!-- / CONTACT SECTION -->

          <!-- MAP SECTION -->
          <div class="map-section relative pd-60 px-h400" data-nc-sm="pd-10">

            <div class="nc-map full-wh z0-1">
              <div class="gmap-widget h100 w100"
                data-fullh="y"
                data-fullh-wrp="flex-col-lg-6"
                data-map-latitude="-37.817136"
                data-map-longitude="144.955652"
                data-map-markerhd="Envato"
                data-map-markerhtml='<div class="pd-10 align-c"><h2 class="fs18 mr-b-10">Envato</h2><p class="fs16 mr-0">PO Box 16122, Collins Street West,<br>Victoria 8007, Australia</p></div>'>
              </div>
            </div><!-- / GOOGLE MAP -->

          </div><!-- / MAP SECTION -->

          <!-- CONTACT-INFO-SECTION -->
          <div class="contact-info-section bg-white -mr-t-10">

            <!-- BODY -->
            <div class="nc-popup--body align-c" data-nc-sm="pd-30">
              <div class="flex-row middle-md">

                <!-- CONTACT-INFO-BOX -->
                <div class="flex-col-md-4">
                  <div class="info-obj bg-white img-t g20 mini align-c pd-30 mr-b-0">
                    <div class="img txt-color1">
                      <span class="iconwrp">
                        <i class="pe-7s-mail-open"></i>
                      </span>
                    </div>
                    <div class="info">
                      <h3 class="bold-1 fs14 txt-upper f-2">Email</h3>
                      <p class="mr-b-0 op-07 f-3">contact@atelier-lemerchin.fr</p>
                    </div>
                  </div>
                </div><!-- / CONTACT-INFO-BOX -->

                <!-- CONTACT-INFO-BOX -->
                <div class="flex-col-md-4">
                  <div class="info-obj bg-white img-t g20 mini align-c pd-30 mr-b-0">
                    <div class="img txt-color1">
                      <span class="iconwrp">
                        <i class="pe-7s-headphones"></i>
                      </span>
                    </div>
                    <div class="info">
                      <h3 class="bold-1 fs14 txt-upper f-2">Helpline</h3>
                      <p class="mr-b-0 op-07 f-3">+1234-567-890</p>
                    </div>
                  </div>
                </div><!-- / CONTACT-INFO-BOX -->

                <!-- CONTACT-INFO-BOX -->
                <div class="flex-col-md-4">
                  <div class="info-obj bg-white img-t g20 mini align-c pd-30 mr-b-0">
                    <div class="img txt-color1">
                      <span class="iconwrp">
                        <i class="pe-7s-world"></i>
                      </span>
                    </div>
                    <div class="info">
                      <h3 class="bold-1 fs14 txt-upper f-2">Website</h3>
                      <p class="mr-b-0 op-07 f-3">www.ncodeart.com</p>
                    </div>
                  </div>
                </div><!-- / CONTACT-INFO-BOX -->

              </div>
            </div>
            <!-- / BODY -->

          </div>
          <!-- / CONTACT-INFO-SECTION -->

        </div>
      </div><!-- / OTHER-SECTION -->

      <!-- OTHER-SECTION -->
      <div class="nc-other-section flex-cc nc-singlepage bg-dark1">

        <!-- CLOSE -->
        <span class="nc-close sq30 flex-cc fs30 btn-white rd z9">
          <i class="pe-7s-close-circle"></i>
        </span><!-- / CLOSE -->

        <div class="inner-wrapper">

          <!-- NOTIFY-ME SECTION -->
          <div class="notify-section pd-60 pd-b-120 typo-light" data-nc-sm="pd-10">

            <!-- HEADER -->
            <div class="nc-popup--header pd-b-60 align-c" data-nc-sm="pd-30">
              <div class="title-wrapper">
                <span class="flex-cc title--icon fs70 txt-color1 mr-b-10" data-nc-sm="fs60">
                  <i class="pe-7s-bell"></i>
                </span>
                <h1 class="txt-upper f-2 bold-1">Notify Me</h1>
                <hr class="px-w100 light mr-auto mr-tb-10">
                <p class="title-sub mr-auto f-3 mini mr-b-0 op-07" data-nc-sm="mini">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam et nulla ut pharetra. Praesent at dolor.
                </p>
              </div>
            </div><!-- / HEADER -->

            <!-- BODY -->
            <div class="nc-popup--body align-c" data-nc-sm="pd-30">
              <div class="nc-form-wrapper">

                <form action="form-data/notify-me.php" class="form-widget form-widget-inputicon" data-popup="popup-contact">
                  <div class="field-wrp">
                    <input type="hidden" name="to" value="ncodeart@gmail.com">
                    <div class="flex-row gt20 mb5">
                      <div class="flex-col-md-6">
                        <div class="form-group">
                          <span class="form-widget--icon flex-cc txt-color1"><i class="ti-user"></i></span>
                          <input class="form-control light form-widget--form-control" data-label="Name" required data-msg="Please enter first-name." type="text" name="fname" placeholder="First-name">
                        </div>
                      </div>
                      <div class="flex-col-md-6">
                        <div class="form-group">
                          <span class="form-widget--icon flex-cc txt-color1"><i class="ti-user"></i></span>
                          <input class="form-control light form-widget--form-control" data-label="Name" required data-msg="Please enter last-name." type="text" name="lname" placeholder="Last-name">
                        </div>
                      </div>
                      <div class="flex-col-md-12">
                        <div class="form-group">
                          <span class="form-widget--icon flex-cc txt-color1"><i class="ti-email"></i></span>
                          <input class="form-control light form-widget--form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="form-widget--btn w100 btn solid btn-white animated s01" data-animOut="fadeOut|0.1" data-animIn="fadeInUp|0.5">Submit</button>
                </form>
                <div class="msg-block"></div>

              </div>
            </div>
            <!-- / BODY -->

          </div><!-- / NOTIFY-ME SECTION -->

        </div>
      </div><!-- / OTHER-SECTION -->

    </div><!-- / CONTENT AREA -->

  </div><!-- / NC-MAIN-WRAPER -->

  <!-- FONT SELECTION -->
  <script>
    /* Use fonts with class name in sequence => f-1, f-2, f-3 .... */
    var fgroup = [
      'Open Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic',
      'Playfair Display:400,400i,700,700i,900,900i',
      'Fauna One'
    ];
  </script>

  <!-- TEMPLATE -->
  <script type="text/javascript" src="lib/jquery/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="lib/jquery-validation/jquery.validate.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="lib/pace/pace.min.js"></script>
  <script type="text/javascript" src="js/nc.js"></script>

</body>
</html>
